* {
  scroll-behavior: smooth;
  hyphens: auto;
}

@font-face {
  font-family: 'Herculanum';
  src: url('../assets/fonts/Herculanum.eot');
  src: url('../assets/fonts/Herculanum.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Herculanum.woff2') format('woff2'),
      url('../assets/fonts/Herculanum.woff') format('woff'),
      url('../assets/fonts/Herculanum.ttf') format('truetype'),
      url('../assets/fonts/Herculanum.svg#Luciole-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Luciole';
  src: url('../assets/fonts/Luciole-Regular.eot');
  src: url('../assets/fonts/Luciole-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Luciole-Regular.woff2') format('woff2'),
      url('../assets/fonts/Luciole-Regular.woff') format('woff'),
      url('../assets/fonts/Luciole-Regular.ttf') format('truetype'),
      url('../assets/fonts/Luciole-Regular.svg#Luciole-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexie Readable';
  src: url('../assets/fonts/LexieReadable-Regular.eot');
  src: url('../assets/fonts/LexieReadable-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/LexieReadable-Regular.woff2') format('woff2'),
      url('../assets/fonts/LexieReadable-Regular.woff') format('woff'),
      url('../assets/fonts/LexieReadable-Regular.ttf') format('truetype'),
      url('../assets/fonts/LexieReadable-Regular.svg#LexieReadable-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.LexieReadable {
  font-family: 'Lexie Readable', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Luciole {
  font-family: 'Luciole', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 16px;
}

:root {
  --green-bg-hover: #116E69;
  --white-text-hover: #fff;
  --yellow-border-color: #FFE200;
  --yellow-text-color: #FFE200;
  --black-text-color: #000;
}

body {
  background: linear-gradient(120deg, rgb(2, 2, 77), black 50%);
  box-sizing: border-box;
  max-width: 2650px;
  margin: 0 auto;
  font-family: "Luciole", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

/************ Footer ****************/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mail {
  width: 50px;
  display: block;
  margin: 0 15px 0 25px;
}

.mail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Retraité,
.Activité,
.Détentrice,
.Yukadresse,
.Kiradresse,
.Kira,
.Talaria,
.Yuka,
.David {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.container > a > div > div, .container > a > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: unset;
  text-transform: uppercase;
}

.dark:hover,
.dark:focus-visible {
  color: var(--white-text-hover);
  background-color: var(--green-bg-hover);
}

.yellow:hover,
.yellow:focus-visible {
  color: var(--white-text-hover);
  background-color: var(--green-bg-hover);
}

.container > a > div > h4 {
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
}

.container > a {
  border: 2px solid #ffaa00;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: auto;
}

.container > a > div > div > img, .container > a > div > img {
  width: 280px;
  height: 280px;
  border-radius: 35%;
  padding: 10px;
  object-fit: cover;
}

.container > a > div > div > img + h3 {
  text-align: center;
  font-size: 1.5rem;
}

.container > a > div > div > img + h4 {
  text-align: center;
  font-size: 1.5rem;
}

.container {
  font-weight: 900;
  background-color: var(--black-text-color);
  font-family: "Herculanum", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 15px 15px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "Yuka Talaria Kira"
    "Retraité Détentrice Activité"
    "Yukadresse David Kiradresse";
  height: 50%;
  width: 60%;
  border: 5px solid #ffaa00;
  padding: 30px;
}

.Yuka,
.Kira,
.Détentrice,
.Yukadresse,
.Kiradresse {
  color: #FFE200;
}

.Talaria,
.Retraité,
.Activité,
.David {
  color: unset;
}

.Yuka {
  grid-area: Yuka;
  border-radius: 15px;
}

.Talaria {
  grid-area: Talaria;
  background-color: #ffaa00;
  border-radius: 15px;
}

.Kira {
  grid-area: Kira;
  border-radius: 15px;
}

.Retraité {
  grid-area: Retraité;
  background-color: #ffaa00;
  border-radius: 15px;
}

.Détentrice {
  grid-area: Détentrice;
  border-radius: 15px;
}

.Activité {
  grid-area: Activité;
  background-color: #ffaa00;
  border-radius: 15px;
}

.Yukadresse {
  grid-area: Yukadresse;
  border-radius: 15px;
}

.Kiradresse {
  grid-area: Kiradresse;
  border-radius: 15px;
}

.David {
  grid-area: David;
  background-color: #ffaa00;
  border-radius: 15px;
}

.sub-footer {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.elements-footer {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elements-footer > .h5,
.elements-footer > ul {
  text-align: center;
}

.elements-footer > .h5 {
  font-size: 1.9rem;
  font-weight: 600;
  font-family: "Luciole", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.elements-footer > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elements-footer > ul > li > a {
  color: #fff;
  font-size: 5rem;
}

.elements-footer > ul > li > a > i {
  padding: 25px 25px 25px 25px;
}

.elements-footer > ul > li > a:hover,
.elements-footer > ul > li > a:focus-visible {
  color: var(--white-text-hover);
  background-color: var(--green-bg-hover);
  padding: 15px 0;
}

.video-container {
  position: relative;
  width: 60%;
  padding-bottom: 30%;
  overflow: hidden;
  margin: 65px 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-itinéraire {
  width: 100%;
  padding-bottom: 50%;
}

.sub-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 500px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
}

.sub-container_child:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container_child:nth-child(1) > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sub-container_child:nth-child(1) > ul > li > a {
  text-decoration: none;
  color: var(--yellow-border-color);
  font-size: 1.9rem;
  line-height: 1.5;
  display: flex;
  padding: 5px;
}

li.sub-container_child--hide > a {
  text-decoration: none;
  color: var(--yellow-border-color);
  font-size: 1.9rem;
  line-height: 1.5;
}

li.sub-container_child--hide {
  display: flex;
}

li.sub-container_child--hide > a:hover,
li.sub-container_child--hide > a:focus-visible {
  color: var(--white-text-hover);
  background-color: var(--green-bg-hover);
  padding: 5px;
}

.sub-container_child_h2 {
  width: 70%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.sub-container_child_h2 > h2 > a {
  text-decoration: none;
  color: var(--yellow-border-color);
  font-size: 4rem;
  font-weight: 500;
}

.sub-container_child_h2 > h2 {
  margin: 0;
  font-size: 3.5rem;
  line-height: 1.5;
}

.sub-container_child_h2 > h2 > a:hover,
.sub-container_child_h2 > h2 > a:focus-visible,
.sub-container_child:nth-child(1) > ul > li > a:hover,
.sub-container_child:nth-child(1) > ul > li > a:focus-visible {
  color: var(--white-text-hover);
  background-color: var(--green-bg-hover);
  padding: 5px;
}

.sub-container_paragraphe {
  color: var(--white-text-hover);
  width: 100%;
  font-size: 2.5rem;
  letter-spacing: 5px;
  line-height: 1.5;
  font-weight: 600;
}

div.sub-container > div:nth-child(1) > ul > div > li:nth-child(1), div.sub-container > div:nth-child(1) > ul > div > li:nth-child(2) {
  display: flex;
}
div.sub-container > div:nth-child(1) > ul > div > li:nth-child(1) > a, div.sub-container > div:nth-child(1) > ul > div > li:nth-child(2) > a {
  margin: 0 25px 0 0;
}

div.line_break {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin: 50px auto;
  width: 100%;
  border-bottom: 3px solid green;
}

div.line_break > img {
  width: 140px;
}

div.container > a.David.dark > div > div > h4 {
  font-size: 1.5rem;
}

/*************** Main ***********************/

section.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.communication {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

div.cards {
  width: 100%;
  background-color: var(--black-text-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

div.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 5px solid var(--yellow-border-color);
  padding: 45px 0;
  border-radius: 15px;
  height: 100%;
  width: 48%;
  margin: 15px 0;
}

div.card > img {
  width: 85%;
  border-radius: 15px;
  margin: 0 0 25px 0;
}

div.card > a {
  font-size: 2rem;
  color: var(--yellow-border-color);
  text-decoration: none;
  font-weight: bolder;
  padding: 15px;
}

div.card:hover, div.card:focus-visible {
  background-color: var(--green-bg-hover);
}

div.card:hover > a, div.card:focus-visible > a  {
  color: var(--white-text-hover);
}

section.bienvenue > h1 > a {
  text-decoration: none;
  font-size: 3rem;
  color: var(--yellow-text-color);
  padding: 15px;
}

section.bienvenue > h1 {
  text-align: center;
  line-height: 2;
}

section.bienvenue > h1 > a:hover, section.bienvenue > h1 > a:focus-visible {
  background-color: var(--green-bg-hover);
  color: var(--white-text-hover);
}

div.coussinets {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.coussinets > img {
  width: 85px;
}

div.titre_accueil > h2 {
  text-align: center;
  font-size: 5.5rem;
  color: var(--white-text-hover);
  font-weight: 700;
}

div.paragraphe_accueil > p {
  color: var(--white-text-hover);
  font-size: 3.5rem;
  margin: 65px auto;
}

div.paragraphe_accueil {
  margin: 0 25%;
  line-height: 150px;
  letter-spacing: 10px;
}   

div.paragraphe_accueil > p > a {
  text-decoration: none;
  color: var(--yellow-text-color);
  padding: 10px;
}

div.paragraphe_accueil > p > a:hover,
div.paragraphe_accueil > p > a:focus-visible,
div.illustration > figure > figcaption > span > a:hover,
div.illustration > figure > figcaption > span > a:focus-visible {
  background-color: var(--green-bg-hover);
  color: var(--white-text-hover);
  padding: 10px;
}

div.illustration > figure > img {
  width: 100%;
  border-radius: 15px;
}

div.illustration > figure > figcaption {
  font-size: 2.2rem;
  color: var(--white-text-hover);
  margin: 0 auto;
  width: 85%;
}

#grey > main > div.illustration > figure > figcaption > a {
  text-decoration: none;
}

div.illustration > figure > figcaption > span > a {
  text-decoration: none;
  color: var(--yellow-text-color);
}

div.illustration > figure > figcaption > a:hover, div.illustration > figure > figcaption > a:focus-visible {
  background-color: var(--green-bg-hover);
  color: var(--white-text-hover);
}

.quiz {
  width: 100%;
  text-align: center;
}

.quiz > a {
  text-decoration: none;
  font-size: 4rem;
  color: var(--yellow-text-color);
}

.quiz > a:hover, .quiz > a:focus-visible {
  background-color: var(--green-bg-hover);
  color: var(--white-text-hover);
}

.quiz > p {
  color: var(--white-text-hover);
  font-size: 2.5rem;
}

/***************** Header ****************/

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > nav > ul.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header > nav > ul.menu > li > a {
  text-decoration: none;
  color: var(--yellow-text-color);
  font-size: 1.5rem;
  text-align: center;
  padding: 15px;
  margin: 0 15px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > nav > ul.menu > li > a:hover, header > nav > ul.menu > li > a:focus-visible {
  background-color: var(--green-bg-hover);
  color: var(--white-text-hover);
}

.active {
  background-color: var(--green-bg-hover);
  color: var(--white-text-hover)!important;
  border-radius: 15%;
}

/* Logo SVG fr */

.s0 { fill: rgba(0,0,0,0) }
.s1 { fill: #fafbfa } 
.s2 { fill: #49faaf } 
.s3 { fill: #fafbfb } 
.s4 { fill: #ffffff } 
.s5 { fill: #0f402c } 
.s6 { fill: #f9fafa } 
.s7 { fill: #10402d } 
.s8 { fill: #fbfcfc } 
.s9 { fill: #11412e } 
.s10 { fill: #0f3f2b } 
.s11 { fill: #14432f } 
.s12 { fill: rgba(0,0,0,0)} 
.s13 { fill: #3ee5dc } 
.s14 { fill: #41e3d7 } 
.s15 { fill: #3de5dc } 
.s16 { fill: #104732 } 
.s17 { fill: #114833 } 
.s18 { fill: #0d412c } 
.s19 { fill: #40e4da } 
.s20 { fill: #134a35 } 
.s21 { fill: #0d3a28 } 
.s22 { fill: #0b3424 }

/* Logo SVG ger */
.s0g { fill: rgba(0,0,0,0) } 
.s1g { fill: #ffffff } 
.s2g { fill: #fafbfa } 
.s3g { fill: #49faaf } 
.s4g { fill: #fafbfb } 
.s5g { fill: #10402d } 
.s6g { fill: #f9faf9 } 
.s7g { fill: #fbfcfc } 
.s8g { fill: #12422f } 
.s9g { fill: #0f3f2c } 
.s10g { fill: #144330 } 
.s11g { fill: rgba(0,0,0,0) } 
.s12g { fill: #3fe5dc } 
.s13g { fill: #42e3d7 } 
.s14g { fill: #104732 } 
.s15g { fill: #114833 } 
.s16g { fill: #0e412c } 
.s17g { fill: #40e4da } 
.s18g { fill: #134a35 } 
.s19g { fill: #0d3a28 } 
.s20g { fill: #0b3524 } 

/* Logo SVG it */

.s0i { fill: rgba(0,0,0,0)  } 
.s1i { fill: #fafbfa } 
.s2i { fill: #49faaf } 
.s3i { fill: #ffffff } 
.s4i { fill: #fafbfb } 
.s5i { fill: #10402d } 
.s6i { fill: #f9faf9 } 
.s7i { fill: #fbfcfc } 
.s8i { fill: #12422f } 
.s9i { fill: #0f3f2c } 
.s10i { fill: #144330 } 
.s11i { fill: rgba(0,0,0,0) } 
.s12i { fill: #3fe5dc } 
.s13i { fill: #42e3d7 } 
.s14i { fill: #104732 } 
.s15i { fill: #114833 } 
.s16i { fill: #0e412c } 
.s17i { fill: #40e4da } 
.s18i { fill: #134a35 } 
.s19i { fill: #0d3a28 } 
.s20i { fill: #0b3524 }

/* Logo SVG eng */

.s0en { fill: rgba(0,0,0,0)  } 
.s1en { fill: #fafbfa } 
.s2en { fill: #49faaf } 
.s3en { fill: #fafbfb } 
.s4en { fill: #10402d } 
.s5en { fill: #ffffff } 
.s6en { fill: #f9faf9 } 
.s7en { fill: #fbfcfc } 
.s8en { fill: #12422f } 
.s9en { fill: #144330 } 
.s10en { fill: rgba(0,0,0,0)  } 
.s11en { fill: #3fe5dc } 
.s12en { fill: #42e3d7 } 
.s13en { fill: #104732 } 
.s14en { fill: #114833 } 
.s15en { fill: #0e412c } 
.s16en { fill: #134a35 } 
.s17en { fill: #0d3a28 } 
.s18en { fill: #0b3524 } 

/* Logo SVG gerg */

.s0grg { fill: rgba(0,0,0,0)} 
.s1grg { fill: #fafbfa } 
.s2grg { fill: #49faaf } 
.s3grg { fill: #fafbfb } 
.s4grg { fill: #10402d } 
.s5grg { fill: #f9faf9 } 
.s6grg { fill: #ffffff } 
.s7grg { fill: #fbfcfc } 
.s8grg { fill: #12422f } 
.s9grg { fill: #0f3f2c } 
.s10grg { fill: #144330 } 
.s11grg { fill: rgba(0,0,0,0) } 
.s12grg { fill: #3fe5dc } 
.s13grg { fill: #42e3d7 } 
.s14grg { fill: #104732 } 
.s15grg { fill: #114833 } 
.s16grg { fill: #0e412c } 
.s17grg { fill: #40e4da } 
.s18grg { fill: #134a35 } 
.s19grg { fill: #0d3a28 } 
.s20grg { fill: #0b3524 } 


/* nav */

a.logo {
  margin: 25px 0 0 0;
  overflow: hidden;
}

svg.chien {
  width: 700px;
  height: 252px;
}

svg.chien-ger {
  width: 1000px;
  height: 360px;
}

div.langues {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.langues > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

div.en-tete {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

div.accessibilité {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

button.btn-confort {
  background-color: transparent;
  border: unset;
  cursor: pointer;
}

button.btn-confort > img {
  width: 60px;
}

div.langues > ul > li > a:hover, div.langues > ul > li > a:focus-visible, div.confort > button.btn-confort:hover, div.langues > button.btn-confort:focus-visible, div.confort > button.btn-confort:focus-visible {
  background-color: var(--green-bg-hover);
  display: inline-block;
}

/* burger */

#burger {
  background-color: var(--black-text-color);
  width: 100px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

#burger > div {
  border: 1px solid var(--white-text-hover);
  margin: 5px 0;
  width: 50px;
  position: absolute;
  top: 45px;
  left: 25px;
}

#burger > div:after {
  content: " ";
  border: 1px solid var(--white-text-hover);
  width: 50px;
  display: block;
  position: absolute;
  top: 15px;
  left: -1px;
}

#burger > div:before {
  content: " ";
  border: 1px solid var(--white-text-hover);
  width: 50px;
  display: block;
  position: absolute;
  top: -17px;
  left: -1px;
}

div.confort {
  display: flex;
}

ul.dropdown-menu-color, ul.dropdown-menu-taille, ul.dropdown-menu-font {
  display: none;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

ul.dropdown-menu-color {
  flex-direction: row;
  flex-wrap: wrap;
  width: 320px;
}

ul.dropdown-menu-taille {
  background-color: var(--black-text-color);
  width: 150px;
}

div.dropdown-parent {
  position: relative;
}

ul.dropdown-menu-font > li > button {
  font-size: 2.5rem;
  padding: 25px 0;
  border: none;
  background-color: var(--black-text-color);
  color: var(--white-text-hover);
}

ul.dropdown-menu-taille > li > button {
  font-size: 3.5rem;
  border: none;
  background-color: var(--black-text-color);
  color: var(--white-text-hover);
}

button.effect:hover, button.effect:focus-visible, .effect:hover, div.effect:focus-visible, div.effect:active, div#grey-screen:hover, div#grey-screen:focus-visible, div#grey-screen:active {
  background-color: var(--green-bg-hover);
  color: var(--white-text-hover);
}

/***************** Responsive ****************/

@media all and (max-width: 767px) {
  .sub-container_child:nth-child(1) > ul {
    display: flex;
    flex-direction: column;
}
  .quiz > a {
    font-size: 2rem;
}
  section.bienvenue > h2 > a {
    font-size: 2rem;
    line-height: 2;
  }
  div.line_break > img {
    width: 40px;
  }
  section.bienvenue > h2 > a {
    font-size: 2.2rem;
  }
  div.paragraphe_accueil {
  line-height: 90px;
    letter-spacing: 3px;
  }

  div.titre_accueil > h2 {
    font-size: 3.5rem;
  }
  div.coussinets > img {
    width: 75px;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "Yuka"
      "Talaria"
      "Kira"
      "Retraité"
      "Détentrice"
      "Activité"
      "Yukadresse"
      "David"
      "Kiradresse";
    width: 100%;
    padding: 15px;
  }
  .Retraité,
  .Activité,
  .Détentrice,
  .Yukadresse,
  .Kiradresse,
  .Kira,
  .Talaria,
  .Yuka,
  .David {
    height: 700px;
  }
  .container {
    display: none;
  }
  .video-container {
    position: relative;
    width: 80%;
    padding-bottom: 50%;
  }
  .container > a > div > div > img {
    width: 80%;
    height: 120%;
  }
  .sub-container_child:nth-child(1) {
    width: 100%;
  }
  .sub-container_child_h2 {
    font-size: 1.8rem;
    width: 100%;
  }
  .sub-container_paragraphe {
    width: 100%;
  }
  .elements-footer > ul > li > a {
    font-size: 1.8rem;
  }
  li.sub-container_child--hide {
    display: block;
  }
  li.sub-container_child--hide > a {
    display: flex;
    width: 220px;
  }
  .elements-footer > .h5 {
    font-size: 1.8rem;
  }
  div.paragraphe_accueil {
    margin: unset;
  }
  div.paragraphe_accueil > p {
    font-size: 2.5rem;
  }
div.illustration > figure > figcaption {
  font-size: clamp(15px, 1.2vw, 16px);
  }
  svg.chien {
    width: 100%;
    height: 100%;
}
}

@media all and (min-width: 768px) and (max-width: 990px) {
  .sub-container_child:nth-child(1) > ul {
    display: flex;
    flex-direction: column;
}
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .Kira,
  .Talaria,
  .Yuka,
  .Retraité,
  .Détentrice,
  .Activité,
  .Yukadresse,
  .Kiradresse,
  .David {
    width: 48%;
    height: 700px;
  }
  .container {
    display: none;
  }
  li.sub-container_child--hide {
    display: block;
  }
  div.paragraphe_accueil {
    margin: 0 45px;
  }
  div.paragraphe_accueil > p {
    font-size: 2.5rem;
}
div.illustration > figure > figcaption {
  font-size: clamp(15px, 1.2vw, 16px);
  }
}

@media all and (min-width: 991px) and (max-width: 1025px) {
  .sub-container_child:nth-child(1) > ul {
    display: flex;
    flex-direction: column;
}
.container {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "Yuka Talaria Kira"
  "Retraité Détentrice Activité"
  "Yukadresse David Kiradresse";
  width: 95%;
  padding: 15px;
}

  div.paragraphe_accueil {
    margin: 0 45px;
  }
  div.paragraphe_accueil > p {
    font-size: 2.8rem;
    line-height: 1.8;
}
.sub-footer {
  height: 655px;
  align-items: flex-start;
}
}

@media all and (min-width: 1026px) and (max-width: 1540px) {
  .sub-container_child:nth-child(1) > ul {
    display: flex;
    flex-direction: column;
}
  .container {
    gap: 15px 15px;
    grid-template-areas:
      "Yuka Talaria Kira"
      "Retraité Détentrice Activité"
      "Yukadresse David Kiradresse";
    width: 90%;
  }
  .sub-container_child_h2 {
    padding: 45px;
    font-size: 1.8rem;
  }
  .sub-container_paragraphe {
    width: 100%;
  }
  div.paragraphe_accueil {
    margin: 0 45px;
  }
  div.paragraphe_accueil > p {
    font-size: 2.5rem;
}
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .sub-container_child:nth-child(1) > ul {
    display: flex;
    flex-direction: column;
}
  .sub-container_child:nth-child(1) {
    width: 100%;
  }
  .sub-container_child_h2 {
    padding: 45px;
    font-size: 1.8rem;
    flex: 1 0 0;
  }
  .sub-container_paragraphe {
    width: 100%;
  }
  .container {
    display: none;
  }
  li.sub-container_child--hide {
    display: block;
  }
  div.paragraphe_accueil {
    margin: 0 45px;
  }
  div.paragraphe_accueil > p {
    font-size: 2.5rem;
}
}

@media all and (max-width: 499px){
  div.card {
    width: 100%;
  }
}

@media all and (max-width: 1024px){
  div.accessibilité {
    display: none;
  }
  header > nav > ul.menu {
    display: none;
    transition: all 3s ease-in-out;
  }
  header > nav > ul.menu > li > a {
    font-size: 2.4rem;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: unset;
    line-height: 1.5;
}
}

@media all and (min-width: 1025px){ 
  #burger {
    display: none;
  }
}

/* Scroll to top of page */

button#scrollToTopBtn {
  border: none;
  background-color: var(--green-bg-hover);
  background-image: url(../images/0-000-022-labrador-up.jpg);
  background-position: 9px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 300px;
  right: 25px;
  border-radius: 50px;
  display: none;
}

#menuLateral {
  width: 380px;
  height: 250px;
  position: fixed;
  bottom: 400px;
  right: 25px;
  display: none;
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 2.5rem;
  gap: 50px;
}

#menuLateralInfo {
  width: 241px;
  height: 250px;
  position: fixed;
  bottom: 235px;
  right: 159px;
  display: none;
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 2.5rem;
  gap: 50px;
}

#menuLateral > li > a, #menuLateralInfo > li > a {
  text-decoration: none;
}

@media all and (max-width: 1300px) {
  #menuLateral, #menuLateralInfo {
    display: none!important;
  }
}

@media all and (max-width: 768px) {
  div#quiz {
    width: 100%;
  }
  button#scrollToTopBtn {
    background-position: center;
    background-color: rgba(50, 50, 50, 0);
    width: 100%;
    height: 80px;
    bottom: 0;
    right: 0;
    border-radius: 70px 70px 0 0;
  }
  .sub-footer {
    height: 655px;
    align-items: flex-start;
  }
}

/* page about */

#banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
  min-height: 100%;
  object-fit: cover;
	position: relative;
}
.banner-img {
  width: 100%;
  height: 100%;
	z-index: -1;
  border-radius: 15px;
	object-fit: cover;
	object-position: center;
}
/* Code CSS en prévision de l'ajout d'un carousel pour la bannière */
/* Gestion des fleches du carrousel */
#banner .arrow {
	position: absolute;
  background-color: var(--green-bg-hover);
  border-radius: 15%;
  padding: 10px;
  width: 50px;
  cursor: pointer;
}
#banner .arrow_left {
	left: 10px;
}
#banner .arrow_right {
	right: 10px;
}
/* Gestion des points du carrousel */
.dots {
	position: absolute;
	bottom: 40px;
	display: flex;
}
.dot {
  margin-inline: 5px;
  width: 10px;
  height: 10px;
  background-color: #ffffff00;
  border: 5px solid var(--green-bg-hover);
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.dot_selected {
	background-color: var(--green-bg-hover);
  border: 5px solid var(--white-text-hover);
}
/* Fin du code CSS pour le carousel */
#banner p {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 900;
	font-size: 50px;
	line-height: 66px;
	color: white;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
}
#banner span {
	display: block;
	font-weight: 400;
	font-size: 30px;
}

@media all and (max-width: 768px) {
  #banner .arrow {
    width: 15px;
  }
  .dot {
    display: none;
  }
  .banner-img {
    height: 250px;
    object-fit: contain;
  }
}

/* Grid histoire */

section.containerAbout {  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: row dense;
  grid-template-areas:
    "Histoire Qui"
    "Yukaa Kiraa";
  width: 65%;
  height: 100%;
  margin-top: 150px;
  margin: 0 auto;
}

.Histoire { grid-area: Histoire; }

.Qui { grid-area: Qui; }

.Yukaa { grid-area: Yukaa; }

.Kiraa { grid-area: Kiraa; }

section.containerAbout > div.Histoire, section.containerAbout > div.Qui {
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 93%;
  width: 50%;
}

section.containerAbout > div.Yukaa, section.containerAbout > div.Kiraa {
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 50%;
  width: 90%;
}

section.containerInfos > div > div.Yukaa, section.containerInfos > div > div.Kiraa,
section.containerPath > div > div.Yukaa, section.containerPath > div > div.Kiraa {
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 50%;
  width: 90%;
}

section.containerAbout > div > a > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

section.containerInfos > div > div > a > div, 
section.containerPath > div > div > a > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

section.containerAbout > div > a:hover, section.containerAbout > div > a:focus-visible {
  background-color: var(--green-bg-hover);
  color: var(--white-text-hover);
}

section.containerInfos > div > div > a:hover, section.containerInfos > div > div > a:focus-visible,
section.containerPath > div > div > a:hover, section.containerPath > div > div > a:focus-visible {
  background-color: var(--green-bg-hover);
  color: var(--white-text-hover);
}

section.containerAbout > div:nth-child(1) > a > div > img, section.containerAbout > div:nth-child(2) > a > div > img  {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: contain;
}

section.containerAbout > div:nth-child(3) > a > div > img, section.containerAbout > div:nth-child(4) > a > div > img  {
  width: 100%;
  height: 400px;
  border-radius: 50px;
  object-fit: contain;
}

section.containerInfos > div > div > a > div > img, section.containerPath > div > div > a > div > img   {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: contain;
}

section > div > div > a {
  text-decoration: none;
  color: var(--white-text-hover);
}

section.containerAbout > div > a {
  padding: 50px;
  border: 2px solid var(--yellow-border-color);
  width: 75%;
  height: fit-content;
  border-radius: 50px;
  background-color: var(--black-text-color);
  margin: 0 0 50px 0;
}

section.containerAbout > div > a {
  padding: 50px;
  border: 2px solid var(--yellow-border-color);
  border-radius: 50px;
  background-color: var(--black-text-color);
  height: fit-content;
}

section.containerInfos > div > div > a, section.containerPath > div > div > a {
  padding: 50px;
  border: 2px solid var(--yellow-border-color);
  width: 50%;
  height: fit-content;
  border-radius: 50px;
  background-color: var(--black-text-color);
  margin: 0 0 50px 0;
}

/* Media Queries pour les appareils mobiles */
@media only screen and (max-width: 768px) {
  section.containerAbout {
    grid-template-columns: 1fr; /* Mettre les blocs sur une colonne */
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "Histoire"
      "Qui"
      "Yukaa"
      "Kiraa";
    gap: 50px;
    margin-top: 50px;
    width: 100%;
  }

  section.containerAbout > div {
    height: auto;
  }
  
  section.containerAbout > div:nth-child(1) > div,
  section.containerAbout > div:nth-child(2) > div,
  section.containerAbout > div:nth-child(3) > div,
  section.containerAbout > div:nth-child(4) > div {
    padding: 20px;
    border-radius: 20px;
  }
  section.containerAbout > div:nth-child(1) > a > div > img, section.containerAbout > div:nth-child(2) > a > div > img  {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: contain;
  }
  
  section.containerAbout > div:nth-child(3) > a > div > img, section.containerAbout > div:nth-child(4) > a > div > img  {
    width: 100%;
    height: 960px;
    border-radius: 50px;
    object-fit: contain;
  }

  section.containerAbout >  div:nth-child(1) > a > div, section.containerAbout >  div:nth-child(2) > a > div {
    height: 610px;
  }

  section.containerAbout >  div:nth-child(3) > a > div, section.containerAbout >  div:nth-child(4) > a > div {
    height: 430px;
  }

  section.containerAbout > div:nth-child(3) > a, section.containerAbout > div:nth-child(4) > a {
    width: 80%;
  }
}

footer.blockquote {
  display: block;
  color: var(--white-text-hover);
  width: 100%;
  z-index: 1;
  position: relative;
}

section.citation {
  width: 50%;
  margin: 200px auto;
  font-size: 1.8rem;
}

blockquote > p, blockquote > footer, section.about > div > p {
  line-height: 2;
}

section.about > div > div {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

section.about > div > div > ul {
  list-style-type: none;
  font-size: 1.5rem;
}

section.about > div > div > ul > li {
  padding: 10px;
}

section.about > div > div > img, section.about > div > figure > img {
  max-width: 100%;
  border-radius: 25px;
  transition: transform 2s;
}

.scaleUp {
  transform: scale(1.5);
  filter: drop-shadow(30px 10px 35px var(--white-text-hover));
}

section.about > div > figure > figcaption {
  color: var(--white-text-hover);
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

@media all and (min-width: 768px) and (max-width: 1025px) {
  section.containerAbout > div.Histoire, section.containerAbout > div.Qui {
    width: 90%;
  }
  section.containerAbout > div:nth-child(3) > a > div > img, section.containerAbout > div:nth-child(4) > a > div > img {
    height: unset;
  }
}

@media all and (max-width: 768px) {
  section.citation {
    width: unset; 
  }
  footer.blockquote {
    text-align: left;
}
section.containerAbout > div.Histoire, section.containerAbout > div.Qui {
  width: 100%;
}
}

section.about {
  width: 40%;
  margin: 0 auto;
}

section.citation > p,
section.citation > div > p {
  width: 80%;
  margin: 0 auto;
}

section.informations, section.itinéraire {
  width: 40%;
  margin: 0 auto;
}

.about > div > div > h2 {
  font-size: 4.5rem;
  color: var(--white-text-hover);
  width: 50%;
}

.about > div > p, .informations > div > p,
.about > div > p, .itinéraire > div > p,
section.citation > p,
section.citation > div > p  {
  font-size: 2.5rem;
}

.informations > div > p, .itinéraire > div > p, section.citation > div > p  {
  line-height: 2.5;
}

@media all and (min-width: 1680px) {
  section.containerAbout > div.Histoire, section.containerAbout > div.Qui {
    width: 70%;
  }
}

@media all and (max-width: 768px) {
  section.about {
    width: 100%;
}
}

main > section.about > div > p > a:not(a[href="#"]):hover, main > section.about > div > p > a:not(a[href="#"]):focus-visible,
#menuLateral > li > a:hover, #menuLateral > li > a:focus-visible,
#menuLateralInfo > li > a:hover, #menuLateralInfo > li > a:focus-visible {
  background-color: var(--green-bg-hover);
  color: var(--white-text-hover);
}

.anchorActive {
  background-color: var(--green-bg-hover);
  color: var(--white-text-hover)!important;
}

main > section.about > div > p > a:not(a[href="#"]) {
  text-decoration: none;
  color: var(--yellow-text-color);
}

blockquote {
  position: relative;
}

blockquote > img {
  width: 130%;
  height: 105%;
  position: absolute;
  display: block;
  top: -8%;
  left: -15%;
}

@media all and (max-width: 1440px) {
  blockquote > img {
    display: none;
}
}

section.containerAbout > div > a {
  color: var(--yellow-text-color);
}

section.about > div > div > span, section.informations > div > div > span,
section.about > div > div > span, section.itinéraire > div > div > span {
  font-size: 3.5rem;
  font-weight: 700;
}

section.citation > blockquote > p:nth-child(4) {
  margin: 0 0 0 0;
}

section.about > div, section.informations > div, section.itinéraire > div {
  margin: 150px 0 0 0;
}

section.video > div.quiz > a {
  padding: unset;
  /*border: unset;*/
  border-radius: 50px;
  /*background-color: var(--black-text-color);*/
  height: fit-content;

}

section.banniere, #grey > main > section > img {
  margin: 0 auto;
  width: 100%;
}

section.containerInfos, section.containerPath {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0 0 0;
}

section.containerInfos > div, section.containerPath > div {
  display: flex;
}

section.containerAbout > div > a {
  text-decoration: none;
}

section.informations a,
section.itinéraire a,
#histoire > a,
#quiSuisJe > a,
#yukaa > a,
#notice_8 > a,
#quiz > p.paraph.open > a
 {
  text-decoration: none;
  font-size: 2.5rem;
  line-height: 2.5;
}

#images > p,
#histoire > p:nth-child(3),
#histoire > p:nth-child(13),
#quiSuisJe > p:nth-child(13),
#quiSuisJe > p:nth-child(15),
#quiSuisJe > p:nth-child(17),
#quiSuisJe > p:nth-child(24),
#yukaa > p:nth-child(3),
#notice_8 > p:nth-child(5),
#nursery > p:nth-child(4),
#nursery > p:nth-child(6),
#nursery > p:nth-child(8),
#nursery > p:nth-child(12),
#nursery > p:nth-child(14),
#nursery > p:nth-child(18),
#nursery > p:nth-child(10),
#nursery > p:nth-child(16),
#nursery > p:nth-child(20),
#quiz > p.paraph.open,
#quiSuisJe > p:nth-child(26),
#histoire > p:nth-child(5) {
  margin: 0;
  display: initial;
}

section.informations a:hover,
section.itinéraire a:hover,
section.about a:hover,
section.informations a:focus-visible,
section.itinéraire a:focus-visible,
section.about a:focus-visible  {
  background-color: var(--green-bg-hover);
  color: var(--white-text-hover);
}

section.informations > div > figure > img, section.informations > div > div > img, section.informations > div > a > div > img,
section.itinéraire > div > figure > img, section.itinéraire > div > div > img, section.itinéraire > div > a > div > img  {
  max-width: 100%;
  transition: all 2s ease-in-out;
}

@media all and (max-width: 768px) {
  section.informations, section.itinéraire {
    width: 100%;
  }
  section.containerInfos > div,   section.containerPath > div {
    flex-wrap: wrap;
}
}

#color-change > ul > li:nth-child(1) {
  order: 12;
}

#histoire, #qui, #yukaa, #kiraa {
  scroll-margin: -10px 0 0 0;
}

section.itinéraire > div > div:nth-child(1) {
  margin: 0 0 150px 0;
}

section.citation > p {
  line-height: 2;
}

section.citation > p {
  margin: 50px 0;
}

/* quiz section */

.hide {
  display: none;
}

.paraph.open {
  display: flex;
  flex-direction: column;
}

div.quest > p {
  display: none;
}

#quiz {
  margin: 0 auto;
  width: 50%;
}

.faq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

section.title-questions > h1 {
  text-align: center;
  font-size: 3.5rem;
}

#quiz > div > h2 {
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1.5;
}

#quiz > p.paraph.open {
  font-size: 2.9rem;
  line-height: 2;
}

#quiz > p.paraph.open > a {
  text-decoration: none;
  width: fit-content;
}

.quests  {
  color: var(--yellow-text-color);
  background-color: var(--black-text-color);
}

.quests:hover,
section.title-questions > *:not(#quiz) {
  color: var(--white-text-hover);
  background-color: var(--green-bg-hover);
}

body .linksHighLights {
  border: 1px solid black;
}

body .linksHighDarks {
  border: 1px solid yellow;
}

section.title-questions > h2 {
 text-align: center;
 color: var(--white-text-hover);
 margin: 0;
 font-size: 2.5rem;
}

section.title-questions > h1 {
  padding: 0 0 25px 0;
  margin: unset;
}

section.title-questions {
  margin: 50px 50px;
}